<div class="feedback-container" ng-show="(tutorialSrv.slides.length < 2 || lastSlide)">

        <div ng-if="!tutorialSrv.currentRate && !feedbackDone">
            <span class="feedback-title">{{"TUTORIAL.FEEDBACK_QUIZ" | translate}}</span>
            <ul class="faces-list">
                <li ng-click="setFeedback(vote.negative)"> <span class="wr-sprite face-sad-icon"></span> </li>
                <li ng-click="setFeedback(vote.neutral)"> <span class="wr-sprite face-neutral-icon"></span> </li>
                <li ng-click="setFeedback(vote.positive)"> <span class="wr-sprite face-happy-icon"></span> </li>
            </ul>
        </div>
        <div ng-if="tutorialSrv.currentRate">
            <span class="feedback-title">{{"TUTORIAL.FEEDBACK_DONE" | translate}}</span>
            <ul class="faces-list rating">
                <li><span class="wr-sprite face-negative-icon" ng-class="{'active' : tutorialSrv.currentRate=='NEGATIVE'}"></span> </li>
                <li><span class="wr-sprite face-neutro-icon" ng-class="{'active' : tutorialSrv.currentRate=='NEUTRAL'}"></span> </li>
                <li><span class="wr-sprite face-positive-icon" ng-class="{'active' : tutorialSrv.currentRate=='POSITIVE'}"></span> </li>
            </ul>
        </div>
    </div>